*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navBarSearchForm input[type=search]{


  width: 380px !important;
  
}
#home:hover{
  background-color: blue;
  color: white;
  border-radius: 5px;
}



#cartBtn{
  margin-right: 60px;
}
#btnLogin{
  margin-left: 50px;
}
.listProducts{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  max-width: 100%;
  background: #202033;
}
.listProducts ul{
  list-style: none;
  display: flex;
}
.listProducts ul li{
  /* border: 1px solid black; */
  padding: 10px 55px 10px 22px;
  margin-bottom: 0px;
  font-weight: bolder;
  
  
}
.listProducts ul li a{
  color: white;
  text-decoration: none;
}
.listProducts ul li:hover{
  border: 1px solid white;
  cursor: pointer;
  transition: 0.8s;

}
a{
  text-decoration: none !important;
}
.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden; }
.card-product .price-new, .card-product .price {
  margin-right: 5px; }
.card-product .price-old {
  color: #999; 
}
.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 400px;
  
  text-align: center; }
  .card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; }
    
    .card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee; 
}
.card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px; }
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee; 
}
.card-product .title {
  margin-top: 0; }

.card-product a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 20px;
}
.action-wrap a{
  font-size: 15px;
  font-weight: bold;
  color: rgb(26, 193, 248);
  opacity: 0.5;
}
.action-wrap a:hover{
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.item{
  /* background: rgb(240, 235, 235); */
  height: 430px;
}
.owl-dots{
  display: none;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: yellow;
  color: yellow;
  margin: 0;
  width: 50px !important;
  /* height: 50px !important; */
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
 
}
.owl-nav button.owl-prev .nav-btn.prev-slide i.fa.fa-angle-left{
  font-size: 70px !important;
  
}
.owl-nav button.owl-next .nav-btn.next-slide i.fa.fa-angle-right{
  font-size: 70px !important;
  
}

.owl-nav button.owl-next {
  right: 0;
}



.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

.owl-nav button:focus {
    outline: none;
}

.carousel-content{
    display: flex;
    
}
.carousel-content a{
    padding-left: 10px;
    padding-top: 10px;
}
.carousel-products a{
    text-decoration: none;
    color: black;

}
.carousel-products p{
    color: blue;
}

.banner1{
  display: flex;
  background:#16161d;
  text-align: center;
  justify-content: center;  
  min-height: 50vh;
}
.banner1 .content{
  color: goldenrod;
}
.banner1 .content a{
  text-decoration: none;
}
.btn1{
  display: inline-block;
  background: radial-gradient(rgb(39, 233, 81),#e2cf26);
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
}
.btn1:hover{
  opacity: 1;
}

/* ----------------------------footer----------------------------------- */

.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 40px 50px 20px;
}

.footer p{
  color: #8a8a8a;
}

.footer h3{
  color: #fff;
  margin-top: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-4{
  flex-basis: 30%;
}

.footer-col-3{
  flex: 1;
  text-align: center;
}

.footer-col-3 img{
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2{
  flex-basis: 12%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0s;
}

.copyright{
  text-align: center;
}






@media only screen and (min-width:460px){
  .item{
      background:white;
      height: 520px;
  }
}
@media only screen and (max-width: 450px){
.navbar{
  max-width: 100%;
  
}

.carousel{
  margin-top: 30px;
}
.banner1{
  display: block;
}

}

@media only screen and (max-width: 990px){

  .banner1{
    display: block;
  }
  
  #navBarSearchForm input[type=search]{


    width: 300px !important;
    
  }
}

/* -------- media query for less than 600 screen size --------  */

@media only screen and (max-width: 600px){
  .footer .row{
    max-width: 100%;
      text-align: center;
  }
  .footer .col-2, .col-3, .col-4{
      flex-basis: 100%;
  
}
.copyimg1{
  max-width: 100%;
}
}
